html, body {
    position: absolute;
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
    top: 0;
}

#map {
    box-shadow: 3px 3px 20px 3px #a9a3a3;
    border: 1px solid #a0a0a0;
    height: calc(100% - 20px);
    width: calc(100% - 20px);
    border-radius: 8px;
    position: relative;
    overflow: hidden;
    margin: 5px auto;
}

#map>.loader {
    font-family: "Segoe UI", Helvetica, "Droid Sans", Tahoma, Geneva, sans-serif;
    background-color: rgba(115, 115, 115, 0.75);
    border-bottom: 1px solid #757575;
    border-left: 1px solid #757575;
    border-bottom-left-radius: 6px;
    border-top-right-radius: 8px;
    pointer-events: none;
    transition: all 1.2s;
    position: absolute;
    font-size: 14.5px;
    color: white;
    z-index: 9999;
    padding: 4px;
    opacity: 0;
    right: 0;
    top: 0;
}

#map>.loader::before {
    background-image: url("https://i.stack.imgur.com/kOnzy.gif");
    background-repeat: no-repeat;
    background-size: 20px 20px;
    padding-right: 5px;
    display: block;
    height: 20px;
    content: "";
    width: 20px;
    float: left;
}

#map.loading>.loader {
    opacity: 1;
}

div.gm-style>div:first-child>div:first-child {
    height: 100%;
    width: 100%;
}

div.gm-style-cc>div:first-child>div:last-child {
    border-bottom-right-radius: 8px;
}