<!DOCTYPE html>
<html>

<head>
    <title>Offer Map View</title>
    <base target="_blank" />
    <meta name="viewport" content="initial-scale=1.0" />
    <meta charset="utf-8" />
    <link href="style.css" rel="stylesheet" type="text/css" />
</head>

<body>
    <div class="thumb">
        <img nz-src="thumb" onerror="this.parentElement.className = 'default'">
    </div>
    <div class="descr">
        <a class="title" href="javascript:void(0)">{apartment} {area}m<span class=" power ">2</span> For {sale}</a>
        <span class="location ">{location}</span>
        <span class="price ">{price}</span>
        <a nz-link="link" class="more ">{more}</a>
    </div>
</body>

</html>